#h-logo {
    background-color: #5e5491;
    text-align: center;
}

.logo-h {
    margin-top:300px;
    padding-bottom:70px;
    width: 42%;
}

.ameni {
    
    padding-left: 80px;
    padding-right: 80px;
}

.familia {
    color: #0b2650;
}

#amenidades-m {
    background-color: #5e5491;
    padding-bottom: 80px;
    padding-top: 80px;
}

.imag-planta {
    text-align: center;
}
.planta-b {
    width: 80%;
}
.ameni-txt {
   padding-top: 43px;
    color: white;
}

li {
    list-style-type: none;
    font-size: 23px;
    font-family: "Avenir";
    font-weight: 200;
}



#amenidades-m h1 {
    font-size: 30px;
    padding-bottom: 15px;
}

.magenta {
    padding-top: 200px;
}

/* Cotizaciones */

#cotizacion {
    background-color: #5e5491;
    
    padding-bottom: 20px;
}

#cotizacion h2 {
    font-size: 19;
    color: white;
    font-weight: 200;
    padding-top: 20px;
    padding-bottom: 10px;
    text-transform: uppercase;
}

#cotizacion h1 {
    text-align: center;
    color: white;
    padding-bottom: 10px;
}

#formulario {
    background-color: #5e5491;
    padding-bottom: 90px;
}

.un-desarrollo {
    color: white;
    font-family: "Montserrat";
    text-transform: uppercase;
    font-size: 20px;
}

.circulo-calzada {
    width: 35%;
}

.recibe-una {
    font-size: 25px;
}

.formulario-2 {
   padding-right: 230px;
}

form {
   margin-top: 28px;
   margin-right: 30px;
   margin-left: 30px;
}

