/* Fonts */

@font-face {
    font-family: "clearface";
    src: url("../fonts/GranCalzada/clearface/Clearface-bold.ttc");

    font-style: normal;
    font-weight: bold;
    }

@font-face {
    font-family: 'Minion-Pro';
    src: url("../fonts/GranCalzada/Minionpro/MinionPro-Regular.otf");
    src: url("../fonts/GranCalzada/clearface/ClearfaceEFHeavy-Regular.otf");
    font-style: normal;
    font-weight: bold;
    }

h1 {
    font-family: "clearface";
}

p {
    font-family: "Montserrat";
}



.bg-pink {
    background-color: #e5007d
!important;
}


.nav-link {
    color: white !important;
    font-size: 20px;
    font-family: Arial;
}

/* Primera sección */

#f-sec {
    background-color: #0b2650;
}

.banner {
    text-align: center;
}

.logo-banner {
    width: 50%;
} @media (max-width: 500px) {
    .logo-banner {
        width: 85%;
        padding-top: 90px;
    }
}

/* Fin Primera sección */

/* Segunda sección */

#s-sec {
    background-color: #0b2650;
    color: white;
}

.left-one {
    padding-left: 110px;
} @media (max-width: 500px) {
    .left-one {
        padding-left: 0px;
        text-align: center;
        order: 2;
    }
}

.una-ciudad {

    font-size: 65px;
} @media (max-width: 500px) {
        .una-ciudad {
            font-size: 35px;
        }
}

.caracteristicas {
    font-family: "Montserrat";
    font-size: 23px;
}

.dis-1 {
    padding-top: 6px;
}

.caracteristicas-icon {
    font-family: "Montserrat";
    font-size: 1.2rem;
}

.cont {
    padding-top: 60px;
}

.icono {
    width: 15%;
    padding-bottom: 10px;
}

.vivienda {
    width: 37%;
    padding-bottom: 10px;
}

.icono-1 {
    width: 25%;
    padding-bottom: 10px;
    padding-top: 13px;
}
.icono-2 {
    width: 45%;
    padding-bottom: 25px;
}


/* Fin Segunda sección */


/* Tercera sección */
#t-sec {
    padding-top: 150px;
    background-color: #0b2650;
    color: white;
} @media (max-width: 500px) {
    #t-sec {
        padding-top: 80px;
    }
}


.una-ciudad-1 {
    font-size: 55px;
    text-align: center;
} @media (max-width: 500px) {
    .una-ciudad-1 {
        font-size: 30px;
    }
}

.u-ciudad{
    margin-top: 16px;
    font-size: 17px;
}

.u-concreto {
    margin-top: 22px;
    font-size: 17px;
}

.u-planta {
    margin-top: 16px;
    font-size: 17px;
}

.texto-derecha {
    text-align: center;
    align-content: center;
}

.btn-pink {
    background-color: #e5007d ;
    color: white;
    font-size: 20px;
    padding-left: 60px;
    padding-right: 60px;
    border-radius: 20px;
}

.btn-pink:hover {
    background-color: #fba740;
}
.arboleda {
    text-align: center;
}

.right-one {
    text-align: center;
}
@media (max-width:500px) {
    .right-one {
        order: 1;
        padding-bottom: 30px;
    }
}
/* Fin tercera sección */

/* Inicio Resumen */

#resumen {
    background-color: #0b2650;
    padding-top: 120px;
    padding-right: 50px;
    padding-left: 50px;
} @media (max-width: 500px) {
    #resumen {
        padding-top: 60px;
    }
}

.amenidades {
    text-align: center;
}

.amenidades-2 {
    text-align: center;
    padding-top: 20px;
}

.i-resumen {
    width: 70%;
}

/* fondo rosa */
#rosa {
    background-color: #0b2650;
}
svg {
   display: block;
}
.fondo-1 {

    background-repeat: no-repeat;
    background-position: center;
    background-color: #e5007d ;
}

.centro {
    text-align: center;
}
.calzada-rosa {
    padding-top: 80px;
    width: 10%;
}
.estas-en {
    color: white;
    font-size: 40px;
    margin-top: 15px;
} @media (max-width: 500px) {
    .estas-en {
        font-size: 26px;
    }
}
.linea-der {
    background-color: #e5007d ;
}

.btn-blue {
    font-size: 25px;
    margin-top: 25px;
    color: white;
    background-color: #0b2650;
    border-radius: 20px;
    margin-bottom: 130px;
}

.btn-blue:hover {
    background-color: #fba740;
}

.wave {
    background-color: white;
}

/* Sección Grupo Casitas */

.respaldados {
    font-size: 45px;
    padding-top: 50px;
    padding-left: 20px;
    font-family: "Montserrat";
    font-weight: 800;
} @media (max-width: 500px) {
    .respaldados {
        font-size: 30px;
        text-align: justify;
    }
}
.casitas-col {
    text-align: center;
}
.casitas-l {
    width: 45%;
    padding-top: 17px;
    padding-bottom: 20px;
}

.grupo-casitas {
    text-align: justify;
    color: gray;
    font-size: 22px;
    padding-top: 20px;
    padding-bottom: 20px;
} @media (max-width: 500px) {
    .grupo-casitas  {
        font-size: 19px;
        text-align: justify;
        padding-top: 0px;
        padding-bottom: 0px;
    }
}

.comunidades {
    padding-top: 30px;
    text-align: center;
}

/* urbanización */

.urbanizacion {
    background-color: #0b2650;
}


.t-urb {
    font-size: 45px;
    padding-top: 80px;
    text-align: center;
    color: white;
    padding-bottom: 20px;
} @media (max-width: 500px) {
    .t-urb  {
        font-size: 30px;
        text-align: center;
    }
}

.p-urb {
    font-size: 23px;
    font-weight: 200;
    padding-left: 110px;
    padding-right: 110px;
    text-align: center;
    color: white;
    padding-bottom: 20px;
} @media (max-width: 500px) {
    .p-urb  {
        font-size: 19px;
        padding-left: 0px;
        padding-right: 0px;
    }
}

@media (max-width: 500px) {
    .enter {
        display: none;
    }
}

.boton {
    text-align: center;
}

.boton-rosa {
    margin-top: 20px;
}

.etapas{
    padding-top: 40px;
}
.bg-etapas {
    background-image: url(../img/linea-etapas.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #0b2650;
}

.auto {
    padding-top: 20px;
    width: 35%;
} @media (max-width: 500px) {
    .auto {
        display: none;
    }
}

.der {
    padding-right: 210px;
} @media (max-width: 500px) {
    .der {
        padding-right: 15px;
    }
}

.auto-p {
    text-align: right;
}

.minuto-p {
    text-align: center;
} @media (max-width: 500px) {
    .minuto-p {
        text-align: center;
    }
}
.minuto {
    padding-top: 30px;
    font-size: 32px;
}

.montse {
    font-family: "Montserrat";
}
.min-des {
    font-weight: 300;
    font-size: 20px;
}

.cercania {
    padding-bottom: 100px;
}

.fondo {
    background-color: #0b2650;
}
/* Desarrollos */
#desarrollos {
    padding-bottom: 140px;
}
.cal-rosa {
    width: 20%;
}
.cal-rosa-1 {
    text-align: right;
    padding-top: 8px;
    padding-right: 20px;
} @media (max-width: 500px) {
    .cal-rosa-1 {
        text-align: center;
        padding-bottom: 10px;
    }
}
.titulo-desarrollos {
    padding-left: 25px;
    font-size: 50px;
    padding-bottom: 40px;
    color: #0b2650;
} @media (max-width: 500px) {
    .titulo-desarrollos {
        text-align: center;
        padding-left: 0px;

    }
}

.fo-a{
    background-image: url(../img/f-rosa.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
.fo-v{
    background-image: url(../img/f-verde.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.almada-c {
    padding-top: 100px;
    padding-bottom: 100px;
    text-align: center;
} @media (max-width: 500px) {
    .almada-c {
        padding-top: 150px;
    padding-bottom: 150px;

    }
}

.almada {
    width: 55%;
}
.costo {
    font-family: "Montserrat";
    font-size: 40px;
    color: #5e5491;
    text-align: center;
    padding-bottom: 10px;
}

.btn-primary {

    font-size: 23px;
    padding-right: 40px;
    padding-left: 40px;
    color: #5e5491;
    background: none !important;
    border-radius: 20px;
    border-color: #5e5491;
    border-width: 4px;
}
.btn-primary:hover {
    color: #0b2650 !important;
    border-color: #0b2650;
}

.miraverde {
    width: 76%;
}

.b-mira {
    margin-top: 70px;
    color: #215a36 !important;
    border-color: #215a36 !important;
} @media (max-width: 500px) {
    .b-mira {
        font-size: 20px;

    }
}

/* Footer */

#footer-section {
    background-color: #0b2650;
    padding-top: 130px;
}

.casitas-footer {
    width: 5%;
}

.footer-espacio {
    padding-right: 50px;
    padding-left: 50px;
} @media (max-width: 500px) {
    .footer-espacio {
    padding-right: 0px;
    padding-left: 0px;

    }
}

.titulo-footer {
    color: #e5007d ;
}

.redes {
    color: white;
    font-size: 22px;

}



.fa-instagram {
    color: #e5007d ;
    font-size: 29px !important;
    padding-top: 10px;
}

.fa-facebook-official {
    color: #e5007d ;
    font-size: 29px !important;
}

.correo {
    padding-top: 69px;
}

.fa-whatsapp {
    color: #e5007d ;
    font-size: 29px !important;
    padding-top: 1px;
}

.puntos-de-venta {
    text-align: center;
    color: #ee4a7b;
    padding-bottom: 40px;
}

.oficinas {
    padding-right: 50px;
    padding-left: 50px;
}

.oficina {
    color: #e5007d ;
}

.direccion {
    color: white;
    font-size: 18px;
}
